body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
}


.titulo-seccion {
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 0 30px;
}

.checkout-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    gap: 30px;
    margin: 50px 0;
}

.checkout-container>div:not(:last-child) {
    padding: 20px;
    border: solid #ccc 1px;
}

.datos-envio-div {
    display: flex;
    flex-direction: column;

    grid-column: 1/2;
    grid-row: 1/2
}

.metodo-envio-div {
    grid-column: 1/2;
    grid-row: 2/3
}

.metodo-pago-div {
    grid-column: 1/2;
    grid-row: 3/4
}

.resumen-pedido-div {
    grid-column: 2/3;
    grid-row: 1/4
}

.titulo-icono {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

#datos-envio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.form-row input {
    width: 100%;
}
.sel-metodos{
    display: flex;
    flex-direction: column;
    gap: 10px
}
.sel-metodos p{
    font-weight: 600;
    font-size: large;
}
.sel-metodo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
    border: solid #ccc 1px;
    align-items: center;
}
.resumen-pedido-div{
    border: solid #ccc 1px;
    padding: 20px 0;
}
.resumen-pedido-div>.titulo-icono{
    padding: 0 20px;
    justify-content: center;
}

.productos-resumen-pedido{
    display: flex;
    flex-direction: column;
}
.producto-resumen-pedido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: solid #ccc 1px;
}
.producto-resumen-pedido .info-producto{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.cupon-descuento{
    padding: 20px
}

#codigo-cupon{
    display: flex;
    flex-direction: row;
    
}
.subtotal-total-resumen-div{
    padding: 20px;
}
#finalizar-compra{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 20px;

}