body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
}

.titulo-seccion {
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 0 30px;
}

.producto-individual {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 30px;
    border-bottom: solid #ccc 1px;
    margin-bottom: 30px;
}

.producto-individual img {
    width: 100%;
}

.breadcrumbs button {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 10px;
}

.nombre-producto-individual {
    margin-bottom: 20px;
}

.precio-normal-producto-individual {
    font-weight: 600;
    text-decoration: line-through;
    margin-bottom: 10px;
}

.precio-oferta-producto-individual {
    font-weight: 700;
    font-size: larger;
    margin-bottom: 10px;
}
.descripcion-corta-producto-individual{
    margin-bottom: 20px;
}
.botones-producto-individual{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.comprar-ahora{
    background-color: darkgray;
}


.slider {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.carrusel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.slide-left {
    background-color: #ffffff;
}

.slide-right {
    background-color: #ffffff;
}

.producto-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.producto-card img {
    width: 100%;
    margin-bottom: 10px;
}

.producto-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
}

.producto-card-actions {
    display: flex;
    justify-content: center;
}

.producto-card-actions button {
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}